<!doctype html>
<html>
    <ink>
        <meta charset="utf-8">
        <title>大板山食材采购</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")" />
        <link rel="stylesheet" href="@routes.Assets.versioned("css/app.css")" />
    </head>
    <body id="body" ng-controller="mainController">
        <header class="masthead clearfix">
            <h3>
                <a class="masthead-brand" href="#/login" aria-label="Bootstrap">家有料 - 家乡的味道</a>
            </h3>
            <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">首页</a>
                <a class="nav-link" href="#">采购</a>
                <a class="nav-link" href="javascript:void(0)" ng-click="login('40%')">登录</a>
            </nav>
        </header>
        <div class="container-fluid">
            <div ng-view></div>
        </div>
        <script data-main="@routes.Assets.versioned("js/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
    </body>
</html>
