<!doctype html>
<html>
    <ink>
        <meta charset="utf-8">
        <title>大板山食材采购</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")" />
        <link rel="stylesheet" href="@routes.Assets.versioned("css/app.css")" />
    </head>
    <body id="body" ng-controller="mainController">
        <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
            <a class="navbar-brand mr-0 mr-md-2" href="#/login" aria-label="Bootstrap">
                家有料
            </a>

            <a class="" href="#">登录</a>
        </header>
        <div ng-view></div>
        <script data-main="@routes.Assets.versioned("js/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
    </body>
</html>
