<section class="main-bg main">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="in-you-box">
                <h2>So, what will I get?</h2>
                <p>Your recipe box has everything you need to cook up to 4 delicious recipes</p>
                <ul>
                    <li>Perfectly measured ingredients from trusted suppliers (which means no food waste)</li>
                    <li>Easy-to-follow recipe cards</li>
                    <li>Insulated packaging to keep food cool</li>
                </ul>
                <div>
                    Get started
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main">
    <div class="row">
        <div class="col-12 col-md-12">
            <h2>Home cooking is important.</h2>
            <p>Good intentions to cook can crumble on busy days. So we make it simple. (And tasty.)</p>
            <div class="row">
                <div class="col-4 col-md-4">
                    <p>Quality</p>
                </div>
                <div class="col-4 col-md-4">
                    <p>Simplicity</p>
                </div>
                <div class="col-4 col-md-4">
                    <p>Variety</p>
                </div>
            </div>
        </div>
    </div>
</section>
